.intro-in
    padding-top 22px
    padding-bottom 75px
    text-align center
    background-position center center
    background-repeat no-repeat
    background-size cover
    margin-bottom -87px
    .paths
        text-align left
        color #9F9F9F
        margin-bottom 30px
        a
            color #fff
    h1
        color #fff
        text-align center
    &__text
        min-height 150px
        display flex
        flex-direction column
        justify-content center
        align-items center
        padding-bottom 30px
    .undertitle
        color #fff
    @media (min-width: $mq.lg)
        padding-top 92px
        h1
            margin-bottom 29px

        .undertitle
            font-size 21px

        &__text
            min-height 278px

.intro-in
    &.type-2
        margin-bottom 25px
        @media (min-width: $mq.md)
            margin-bottom 38px

.intro-in
    &.type-3
        padding-top 85px
        margin-bottom -179px
        min-height 368px
        padding-bottom 196px
        h1, .h1
            text-align left
            font-size 56px
        & ^[0]
            &__text
                min-height 0
                // align-items flex-start
        @media (min-width: $mq.lg)
            min-height 575px
            margin-bottom -340px
            h1, .h1
                font-size 66px
            & ^[0]
                &__text
                    align-items flex-start

        @media (min-width: $mq.xxl)
            margin-bottom -305px
            h1, .h1
                font-size 100px
