.intro-in
    padding-top 22px
    padding-bottom 75px
    text-align center
    background-position center center
    background-repeat no-repeat
    background-size cover
    margin-bottom -87px
    .paths
        text-align left
        color #9F9F9F
        margin-bottom 30px
        a
            color #fff
    h1
        color #fff
    &__text
        min-height 150px
        display flex
        flex-direction column
        justify-content center
        align-items center
        padding-bottom 30px
    .undertitle
        color #fff
    @media (min-width: $mq.lg)
        padding-top 92px
        h1
            margin-bottom 8px

        .undertitle
            font-size 21px

        &__text
            min-height 278px
