<header block="header">
    <div elem="fixed">
        <div elem="fixed-in">
            <div elem="fixed-content" class="container">
                <div elem="logo">
                    <a href=""><img src="img/logo.svg" alt=""></a>
                </div>
                <nav elem="menu">
                    <ul>
                        <li class="active">
                            <a href="#">Пошив (Автоателье){{ _icon('arr-d', { tag: 'span' }) }}</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img1.jpg" alt="">
                                            <span class="mn-item-name">Пошив салона</span>
                                        </span>
                                        <span class="mn-item-note">Пошив от 19 000 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img2.jpg" alt="">
                                            <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img3.jpg" alt="">
                                            <span class="mn-item-name">Перетяжка потолка</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img4.jpg" alt="">
                                            <span class="mn-item-name">Пошив руля</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img5.jpg" alt="">
                                            <span class="mn-item-name">Цветные ремни безопасности</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Детейлинг {{ _icon('arr-d', { tag: 'span' }) }}</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img3.jpg" alt="">
                                            <span class="mn-item-name">Перетяжка потолка</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img2.jpg" alt="">
                                            <span class="mn-item-name">Пошив салона</span>
                                        </span>
                                        <span class="mn-item-note">Пошив от 19 000 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img1.jpg" alt="">
                                            <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img5.jpg" alt="">
                                            <span class="mn-item-name">Пошив руля</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img4.jpg" alt="">
                                            <span class="mn-item-name">Цветные ремни безопасности</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Автомобильные плёнки{{ _icon('arr-d', { tag: 'span' }) }}</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img2.jpg" alt="">
                                            <span class="mn-item-name">Пошив руля</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img1.jpg" alt="">
                                            <span class="mn-item-name">Цветные ремни безопасности</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img5.jpg" alt="">
                                            <span class="mn-item-name">Пошив салона</span>
                                        </span>
                                        <span class="mn-item-note">Пошив от 19 000 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img4.jpg" alt="">
                                            <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img3.jpg" alt="">
                                            <span class="mn-item-name">Перетяжка потолка</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Кузовные работы {{ _icon('arr-d', { tag: 'span' }) }}</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img5.jpg" alt="">
                                            <span class="mn-item-name">Пошив салона</span>
                                        </span>
                                        <span class="mn-item-note">Пошив от 19 000 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img4.jpg" alt="">
                                            <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img1.jpg" alt="">
                                            <span class="mn-item-name">Пошив руля</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img2.jpg" alt="">
                                            <span class="mn-item-name">Цветные ремни безопасности</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img3.jpg" alt="">
                                            <span class="mn-item-name">Перетяжка потолка</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Дополнительное оборудование{{ _icon('arr-d', { tag: 'span' }) }}</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img1.jpg" alt="">
                                            <span class="mn-item-name">Пошив салона</span>
                                        </span>
                                        <span class="mn-item-note">Пошив от 19 000 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img2.jpg" alt="">
                                            <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img3.jpg" alt="">
                                            <span class="mn-item-name">Перетяжка потолка</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img4.jpg" alt="">
                                            <span class="mn-item-name">Пошив руля</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img5.jpg" alt="">
                                            <span class="mn-item-name">Цветные ремни безопасности</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Автозвук{{ _icon('arr-d', { tag: 'span' }) }}</a>
                            <ul>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img1.jpg" alt="">
                                            <span class="mn-item-name">Пошив руля</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img3.jpg" alt="">
                                            <span class="mn-item-name">Цветные ремни безопасности</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img4.jpg" alt="">
                                            <span class="mn-item-name">Пошив салона</span>
                                        </span>
                                        <span class="mn-item-note">Пошив от 19 000 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img5.jpg" alt="">
                                            <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mn-item-container">
                                            <img src="files/mn-img4.jpg" alt="">
                                            <span class="mn-item-name">Перетяжка потолка</span>
                                        </span>
                                        <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                {% include 'social-links.html' %}
            </div>
        </div>
    </div>
    <div elem="content">
        <div elem="top">
            <div elem="top-in" class="container">
                <div elem="logo">
                    <a href=""><img src="img/logo.svg" alt=""></a>
                </div>
                <form elem="search" action="#" method="post">
                    <button></button>
                    <input type="search" placeholder="Введите для поиска">
                </form>
                {% include 'social-links.html' %}
                <div elem="phone">
                    <a href="tel:+74951505042">
                        {{ _icon('phone', { tag: 'span' }) }}
                        +7 (495) 150 50 42
                    </a>
                </div>
                <div elem="address-box">
                    <div elem="address">
                        <div elem="address-icon">{{ _icon('location-marker', { tag: 'span' }) }}</div>
                        <div>
                            г. Москва ул. Мельникова, д. 5
                        </div>
                    </div>
                    <div elem="address">
                        <div elem="address-icon">{{ _icon('location-marker', { tag: 'span' }) }}</div>
                        <div>
                            г. Москва ул. Мельникова, д. 5
                        </div>
                    </div>
                </div>
                <div elem="burger" class="js-menu">{{ _icon('menu', { tag: 'span' }) }}</div>
            </div>
        </div>
        <nav elem="menu" class="container">
            <ul>
                <li class="active">
                    <a href="#">Пошив (Автоателье){{ _icon('arr-d', { tag: 'span' }) }}</a>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img1.jpg" alt="">
                                    <span class="mn-item-name">Пошив салона</span>
                                </span>
                                <span class="mn-item-note">Пошив от 19 000 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img2.jpg" alt="">
                                    <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img3.jpg" alt="">
                                    <span class="mn-item-name">Перетяжка потолка</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img4.jpg" alt="">
                                    <span class="mn-item-name">Пошив руля</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img5.jpg" alt="">
                                    <span class="mn-item-name">Цветные ремни безопасности</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Детейлинг {{ _icon('arr-d', { tag: 'span' }) }}</a>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img3.jpg" alt="">
                                    <span class="mn-item-name">Перетяжка потолка</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img2.jpg" alt="">
                                    <span class="mn-item-name">Пошив салона</span>
                                </span>
                                <span class="mn-item-note">Пошив от 19 000 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img1.jpg" alt="">
                                    <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img5.jpg" alt="">
                                    <span class="mn-item-name">Пошив руля</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img4.jpg" alt="">
                                    <span class="mn-item-name">Цветные ремни безопасности</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Автомобильные плёнки{{ _icon('arr-d', { tag: 'span' }) }}</a>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img2.jpg" alt="">
                                    <span class="mn-item-name">Пошив руля</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img1.jpg" alt="">
                                    <span class="mn-item-name">Цветные ремни безопасности</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img5.jpg" alt="">
                                    <span class="mn-item-name">Пошив салона</span>
                                </span>
                                <span class="mn-item-note">Пошив от 19 000 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img4.jpg" alt="">
                                    <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img3.jpg" alt="">
                                    <span class="mn-item-name">Перетяжка потолка</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Кузовные работы {{ _icon('arr-d', { tag: 'span' }) }}</a>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img5.jpg" alt="">
                                    <span class="mn-item-name">Пошив салона</span>
                                </span>
                                <span class="mn-item-note">Пошив от 19 000 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img4.jpg" alt="">
                                    <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img1.jpg" alt="">
                                    <span class="mn-item-name">Пошив руля</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img2.jpg" alt="">
                                    <span class="mn-item-name">Цветные ремни безопасности</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img3.jpg" alt="">
                                    <span class="mn-item-name">Перетяжка потолка</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Дополнительное оборудование{{ _icon('arr-d', { tag: 'span' }) }}</a>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img1.jpg" alt="">
                                    <span class="mn-item-name">Пошив салона</span>
                                </span>
                                <span class="mn-item-note">Пошив от 19 000 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img2.jpg" alt="">
                                    <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img3.jpg" alt="">
                                    <span class="mn-item-name">Перетяжка потолка</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img4.jpg" alt="">
                                    <span class="mn-item-name">Пошив руля</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img5.jpg" alt="">
                                    <span class="mn-item-name">Цветные ремни безопасности</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Автозвук{{ _icon('arr-d', { tag: 'span' }) }}</a>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img1.jpg" alt="">
                                    <span class="mn-item-name">Пошив руля</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img3.jpg" alt="">
                                    <span class="mn-item-name">Цветные ремни безопасности</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img4.jpg" alt="">
                                    <span class="mn-item-name">Пошив салона</span>
                                </span>
                                <span class="mn-item-note">Пошив от 19 000 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img5.jpg" alt="">
                                    <span class="mn-item-name">Ремонт сидений (реставрация кожи)</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 руб.</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="mn-item-container">
                                    <img src="files/mn-img4.jpg" alt="">
                                    <span class="mn-item-name">Перетяжка потолка</span>
                                </span>
                                <span class="mn-item-note">Ремонт сидений от 5600 Р</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header><!-- header -->
