.messengers
    background #fff
    padding 23px 18px
    margin-bottom 20px
    margin-top -23px
    position relative
    z-index 1
    &:after
        content ''
        position absolute
        left 0
        top 0
        right 0
        bottom 0
        background #fff
        z-index -1
    &:before
        content ''
        left -14%
        bottom -40%
        position absolute
        width 100%
        max-width 50%
        height 400px
        background: #1892C7;
        opacity: 0.08;
        filter: blur(150.698px);
        border-radius 100%
        pointer-events none
        z-index -1

    &__title
        font-size 21px
        line-height 1
        font-weight 400
        margin-bottom 17px
        color #000
        max-width 287px
    &__items
        margin-bottom 20px
    &__item
        display flex
        align-items center
        padding 14px 20px 14px 20px
        background: #FFFFFF;
        box-shadow: 6.28809px 8.17451px 8.80332px rgba(169, 189, 200, 0.11);
        margin-bottom 15px
        min-height 58px
        text-decoration none
        transition 0.3s ease box-shadow
        &:hover
            box-shadow: 6.28809px 8.17451px 8.80332px rgba(169, 189, 200, 0.25);
            .svg-icon
                transform translateX(7px)
        &-icon
            width 30px
            margin-right 18px
            img
                width 100%
                display block
        &-name
            display flex
            align-items center
            font-size 16px
            color #000
            font-weight 400
            .svg-icon
                width 17px
                height 9px
                margin-top 2.5px
                transition 0.3s ease transform
            .t-nm
                min-width 90px
                margin-right 9px
        &.whatsapp
            .svg-icon
                fill #09BA8F
        &.telegram
            .svg-icon
                fill #128BCF


    &__text
        font-size 13px
        color: #929292;
    @media (min-width: $mq.sm)
        &__items
            display flex
            margin-left -30px
        &__item
            width 50%
            margin-left 30px

    @media (min-width: $mq.md)
        margin-bottom 30px
        &__title
            font-size 38px
            max-width 1065px
            margin-bottom 30px
        &__text
            font-size 19px
    @media (min-width: $mq.lg)
        margin-bottom 78px
        padding 35px 30px
        &__item
            padding 22px 35px
            max-width 627px
            &-icon
                width 48px
            &-name
                font-size 30px
                .svg-icon
                    width 25px
                    height 14px
                    margin-left 30px
                    margin-top 6px

    @media (min-width: $mq.xxl)
        padding 47px 77px 32px
        margin-top -60px
        &__title
            font-size 55px
            margin-bottom 18px


.messengers
    &.type-2
        margin-top 0
        & ^[0]
            @media (min-width: $mq.md)
                &__title
                    font-size 35px

.messengers
    &.type-3
        & ^[0]
            @media (min-width: $mq.xl)
                &__title
                    font-size 50px
