.text
    text-align center
    margin 0 auto
    font-size: 19px;
    line-height 1
    margin-bottom 40px
    color #000
    @media (min-width: $mq.lg)
        font-size 32px
        max-width 980px
        margin-bottom 53px
    @media (min-width: $mq.xl)
        margin-bottom 118px
