.paths
    font-size 16px
    color rgba(#000, 0.5)
    padding-left 20px
    padding-right 20px
    margin-left -20px
    margin-right -20px
    white-space nowrap
    overflow-x auto
    &::-webkit-scrollbar
        display none

    scrollbar-height none
    -ms-overflow-style: none;
    a
        color rgba(#000, 0.5)
    .separator
        margin-left 7px
        margin-right 7px
    @media (min-width: $mq.lg)
        white-space normal
        overflow-x visible
