.text-block
    margin-bottom 28px
    &__title
        font-size 28px
        font-weight 400
        margin-bottom 26px
        color #000
    &__text
        font-size 18px

    @media (min-width: $mq.md)
        margin-bottom 48px
    @media (min-width: $mq.lg)
        &__title
            font-size 50px
            max-width 650px
        &__text
            font-size 25px

    @media (min-width: $mq.xl)
        display flex
        align-items center
        margin-bottom 75px
        &__title
            padding-right 30px
            max-width 37%
            margin-bottom 0

        &__text
            width 48.568%
            margin-left auto
            flex none
