<div block="price-list">
    <h2 elem="title" class="h2">Стоимость перетяжки руля</h2>
    <table elem="table">
        <tr>
            <th>Наименование услуги</th>
            <th>1 класс {% include 'tooltip.html' %}</th>
            <th>2 класс {% include 'tooltip.html' %}</th>
            <th>3 класс {% include 'tooltip.html' %}</th>
            <th>4 класс {% include 'tooltip.html' %}</th>
        </tr>
        <tr>
            <td>Перетяжка руля из кожи <span>используется натуральная кожа</span></td>
            <td>2,500 руб.</td>
            <td>2,500 руб.</td>
            <td>2,500 руб.</td>
            <td>2,500 руб.</td>
        </tr>
        <tr>
            <td>Перетяжка руля из алькантары</td>
            <td>5,000 руб..</td>
            <td>5,000 руб..</td>
            <td>5,000 руб..</td>
            <td>5,000 руб.</td>
        </tr>
        <tr>
            <td>Перетяжка руля с обогревом <span>без замены электро элементов</span></td>
            <td>10,000 руб.</td>
            <td>10,000 руб.</td>
            <td>10,000 руб.</td>
            <td>10,000 руб.</td>
        </tr>
        <tr>
            <td>Эксклюзивная отделка руля</td>
            <td>15,000 руб</td>
            <td>15,000 руб</td>
            <td>15,000 руб</td>
            <td>15,000 руб</td>
        </tr>
        <tr>
            <td>Перетяжка из комбинированных материалов</td>
            <td>25,000 руб</td>
            <td>25,000 руб</td>
            <td>25,000 руб</td>
            <td>25,000 руб</td>
        </tr>
    </table>
    <a href="#" class="site-button">Записаться {{ _icon('arr-r3', { tag: 'span' }) }}</a>
</div><!-- price-list -->
