.locations
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    background rgba(#101524, 0.4)
    z-index 10
    display flex
    align-items flex-end
    opacity 0
    visibility hidden
    transition 0.3s ease opacity, 0.3s ease visibility
    &.is-opened
        opacity 1
        visibility visible
    @media (min-width: $mq.sm)
        display block
        opacity 1
        visibility visible
        position static

.location
    width 100%
    background #fff
    padding 27px 19px 26px
    z-index 10
    box-shadow 0 0 25px rgba(#000, 0.2)
    opacity 0
    visibility hidden
    transition 0.3s ease opacity, 0.3s ease visibility
    display none
    position relative
    @media (min-width: $mq.sm)
        position fixed
        transform translate(-50%, -50%)
        left 50%
        top 50%
        border-radius 7px
        width 337px


    &.is-opened
        opacity 1
        visibility visible
        display block
    &__close
        position absolute
        right 18px
        top 18px
        cursor pointer
        &:before
            content ''
            position absolute
            left -8px
            top -8px
            right -8px
            bottom -8px
        .svg-icon
            pointer-events none
            display block
            width 11px
            height 11px
            fill #000
    &__container
        display flex
        color #000
        font-weight 400
        padding-left 15px
        margin-bottom 32px
    &__icon
        flex none
        width 30px
        height 35px
        margin-right 20px
        .svg-icon
            width 100%
            height 100%
            display block
            fill #71DD49
    &__text
        padding-top 1px
        max-width 213px
        font-size 22px
    &__phone
        margin-top 22px
        font-size 17px
        a
            text-decoration none
            color #000
    &__button
        display block
        text-decoration none
        border: 1px solid #09BA8F;
        font-size 16px
        padding 11px 10px 11px 16px
        color #09BA8F
        margin-bottom 18px
        font-weight 400
        transition 0.3s ease color, 0.3s ease background
        &:last-child
            margin-bottom 0
        &:hover
            background #09BA8F
            color #fff
