.social-links
    display flex
    align-items center
    &__item
        img
            display block
            transition 0.3s ease transform
        &:hover
            img
                transform translateY(-3px)
