.hz-title
    font-size 20px
    font-weight 400
    margin-top 20px
    margin-bottom 34px
    line-height 0.9
    letter-spacing: -0.03em;
    color #000
    @media (min-width: $mq.md)
        margin-top 35px
        font-size 30px
        max-width 890px
