.bl-title
    font-family $fonts.base
    font-size 23px
    font-weight 400
    margin-bottom 36px
    line-height 1
    @media (min-width: $mq.md)
        font-size 35px
    @media (min-width: $mq.md)
        margin-bottom 70px
    @media (min-width: $mq.xl)
        font-size 50px
