.map-fullscreen
    position fixed
    left 0
    top 0
    right 0
    bottom 0
    background #fff
    z-index 10
    display none
    &__close
        position absolute
        right 00
        top 0
        width 70px
        height 70px
        display flex
        align-items center
        justify-content center
        background #fff
        cursor pointer
        .svg-icon
            width 25px
            height 25px
            fill #000
    &__in
        width 100vw
        height 100vh
    &__container
        position absolute
        left 0
        top 0
        right 0
        bottom 0
