.link
    display inline-flex
    align-items center
    font-weight 400
    font-size 18px
    color: #09BA8F;
    text-decoration none
    margin-left 42px
    &:hover
        .svg-icon
            transform translateX(7px)
    .svg-icon
        margin-left 40px
        width 26px
        height 15px
        transition 0.3s ease transform

